body {
  background: #d2d2c1 url('/Imagens/fundo.png');
  font-family: sans-serif;
  color: #39404e;
  display: flex;
  justify-content: center;
}

#principal {
  width: 900px;
  
  display: flex;
  justify-content: center;
  flex-direction: column;
}

#menu {
  background: #c5c5b2;
  padding: 18px;
}

#conteudo {
  font-family: gray;
  background: #e8e8d9;
  padding: 10px;
  
}

#rodape {
  text-align: center;
}

#contato {
  background-color: #c5c5b2;
  padding-left: 16px;
}

a {
 color: #4b566a;
 text-decoration: none;
 font-weight: bold;
 padding: 5px;
}

.img-campanha {
  border: 10px solid #c5c5b2;
}